<form action="javascript:void(0)" class="register-form--form js-register-form">
    <div class="form--field">
        <input type="text" placeholder="First Name" class="field--input js-field" data-field="firstName"> 
        <div class="field--message js-field-message" data-field="firstName"></div>
    </div>
    <div class="form--field">
        <input type="text" placeholder="Last Name" class="field--input js-field" data-field="lastName"> 
        <div class="field--message js-field-message" data-field="lastName"></div>
    </div>
    <div class="form--field">
        <input type="text" placeholder="Email Address" class="field--input js-field" data-field="email"> 
        <div class="field--message js-field-message" data-field="email"></div>
    </div>
    <div class="form--field">
        <input type="password" placeholder="Password" class="field--input js-field" data-field="password">
        <div class="field--message js-field-message" data-field="password"></div>
    </div>
    <div class="form--field">
        <div class="field--checkbox">
            <input type="checkbox" id="newsletter" class="js-field field--checkbox" data-field="newsletterOptIn" checked="checked">
            <label for="newsletter">Email me special offers, promotions, and product updates. <span class="field--checkbox--box"></span></label>
        </div>
    </div>
    <div class="form--message js-message"></div>
    <button class="js-register register-form--submit">Create Account</button>
    <p class="register-form--agreement">
        By creating an account, you're agreeing to our
        <a href="/terms-of-service" target="_blank">Terms of Service</a> and 
        <a href="/privacy-policy" target="_blank">Privacy Policy</a>.
    </p>
</form>