<h1 class="register-modal--heading">Join Now!</h1>
<p class="register-modal--note">
    Already have an account? <a href="javascript:void(0)" class="js-show-login">Log in now!</a></p>
<div class="js-form register-modal--form"></div>