<form action="javascript:void(0)" class="login-form--form js-login-form">
    <div class="form--field">
        <input type="text" placeholder="Email Address" class="field--input js-field" data-field="email"> 
        <div class="field--message js-field-message" data-field="email"></div>
    </div>
    <div class="form--field">
        <input type="password" placeholder="Password" class="field--input js-field" data-field="password">
        <div class="field--message js-field-message" data-field="password"></div>
    </div>

    {{!-- <a href="javascript:void(0)" class="js-forgot-password login-form--forgot-pass">Forgot password?</a> --}}
    <div class="form--message js-message"></div>
    <button class="js-login login-form--submit">Log In</button>
</form>