<h1 class="login-modal--heading">Welcome back!</h1>
<p class="login-modal--note">Don't have an account? <a href="javascript:void(0)" class="js-show-create-account">Create one now!</a></p>
<div class="js-form login-modal--form"></div>