<div class="admin__marketplace--content">
    
    <div class="admin__marketplace--hero">
        <h1 class="hero--heading">Create New Marketplace Product</h1>
    </div>

    <div class="admin__marketplace--body">
        {{>admin/marketplace/form}}
    </div>
</div>