<div class="marketplace--product">
    <a href="/marketplace/{{slug}}" class="product--link js-go-product" data-slug="{{slug}}">
        <img src="{{fullImageUrl}}" alt="{{title}}" class="product--thumb">
    </a>
</div>