<div class="create--content">
    <section class="create--hero">
        {{!-- <h1 class="hero--heading">{{product.name}}</h1> --}}
        <ul class="hero--steps">
            <li class="hero--step js-step is-active" data-step="1">Upload</li>
            <li class="hero--step js-step" data-step="2">Crop</li>
            <li class="hero--step js-step" data-step="3">Confirm</li>
        </ul>
    </section>

    <div class="create--wrapper">
        {{> product/createProduct/upload }}
    </div>

</div>

