<div class="home--content">
    <section class="home--hero">
        <div class="hero--screen"></div>
        <div class="hero--content">
            {{!-- <h1 class="hero--heading">Your stories deserve <br> beautiful prints.</h1> --}}
            <h1 class="hero--heading">Your moments, printed.</h1>
            <h2 class="hero--subheading">No hassle, high quality canvas prints, posters, and framed posters.</h2>
            {{!-- <h2 class="hero--subheading">You capture moments and make stories, we'll get them to your wall.</h2> --}}
            {{!-- <a href="/products" class="js-go-products hero--action">View All Products</a> --}}
        </div>
    </section>

    <section class="products--preview">
        <h2 class="section--heading">Custom Prints</h2>
        <h3 class="section--subheading">High quality canvas prints, posters, and framed posters.</h3>
        <div class="section--row">
            <div class="products--product">
                <h4 class="product--heading">Canvas Prints</h4>
                <h5 class="product--subheading">Starting at $53</h5>

                <div class="product--description">
                    <a href="/products/canvas" class="js-go-canvas">
                        <img src="/images/canvas-front.jpg" alt="Picture of a canvas print" class="product--image">
                    </a>
                </div>

                <a href="/products/canvas" class="js-go-canvas product--action">Sizes &amp; Pricing</a>
            </div>
            <div class="products--product">
                <h4 class="product--heading">Posters</h4>
                <h5 class="product--subheading">Starting at $11</h5>

                <div class="product--description">
                    <a href="/products/poster" class="js-go-posters">
                        <img src="/images/poster.jpg" alt="Picture of a poster" class="product--image">
                    </a>
                </div>

                <a href="/products/poster" class="js-go-posters product--action">Sizes &amp; Pricing</a>
            </div>
            <div class="products--product">
                <h4 class="product--heading">Framed Posters</h4>
                <h5 class="product--subheading">Starting at $28</h5>

                <div class="product--description">
                    <a href="/products/framed-poster" class="js-go-framed-posters">
                        <img src="/images/framed-poster.jpg" alt="Picture of a framed poster" class="product--image">
                    </a>
                </div>

                <a href="/products/framed-poster" class="js-go-framed-posters product--action">Sizes &amp; Pricing</a>
            </div>
        </div>
    </section>
</div>