<div class="marketplace--content">
    <section class="marketplace--hero">
        <h1 class="hero--heading">Marketplace</h1>
        <h2 class="hero--subheading">Custom designs ready for your wall!</h2>
    </section>

    <div class="marketplace--body">
        <div class="marketplace--products">
            {{#each marketplaceProducts}}{{> marketplace/product}}{{/each}}
        </div>
    </div>

</div>