<div class="products--content">
    <section class="products--hero">
        <h1 class="hero--heading">Custom Prints</h1>
        <h2 class="hero--subheading">High quality canvas prints, posters, and framed posters.</h2>
        {{!-- <div class="hero--screen"></div>
        <div class="hero--content">
            <h1 class="hero--heading">Quality Prints <br> for any occasion.</h1>
        </div> --}}
    </section>

    <section class="products--detailed">
        <div class="section--wrapper">
            <h2 class="section--heading">Canvas Prints</h2>

            <div class="section--row">
                <div class="product--description">
                    <h4 class="section--subheading">Hand stretched, wood-backed canvas prints starting at $53</h4>
                    <p>Beautifully hand stretched, high quality prints perfect for adding personality to any room.</p>
                    <ul>
                        <li>20.5mil thick, fade resistant, poly-cotton blend canvas</li>
                        <li>hand stretched and hand glued</li>
                        <li>solid wood frame with a matte-finish coating</li>
                    </ul>
                    <a href="/products/canvas" class="js-go-canvas product--action">View Sizes &amp; Pricing</a>
                </div>
                <div class="product--images">
                    <img src="/images/canvas-front.jpg" alt="Picture of a canvas print" class="product--image">
                </div>
            </div>
        </div>
    </section>

    <section class="products--detailed">
        <div class="section--wrapper">
            <h2 class="section--heading">Posters</h2>

            <div class="section--row">
                <div class="product--description">
                    <h4 class="section--subheading">Thick, durable, matte paper posters starting at $11</h4>
                    <p>Museum-quality posters that are perfect for any size room.</p>
                    <ul>
                        <li>heavyweight Epson Enhanced Matte Paper (10.3mil thick)</li>
                        <li>printed on an Epson Stylus Pro 7900</li>
                        <li>uses Epson UltraChrome HDR ink-jet technology.</li>
                    </ul>
                    <a href="/products/poster" class="js-go-posters product--action">View Sizes &amp; Pricing</a>
                </div>
                <div class="product--images">
                    <img src="/images/poster.jpg" alt="Picture of a poster" class="product--image">
                </div>
            </div>
        </div>
    </section>

    <section class="products--detailed">
        <div class="section--wrapper">
            <h2 class="section--heading">Framed Posters</h2>

            <div class="section--row">
                <div class="product--description">
                    <h4 class="section--subheading">Lightweight, fade-resistant framed posters starting at $28</h4>
                    <p>
                        Put a lightweight, shatter resistant wood frames around any poster to add a touch of class.
                    </p>
                    <ul>
                        <li>acrylite front protector</li>
                        <li>shatter resistant</li>
                        <li>museum quality thick matte paper posters</li>
                    </ul>
                    <a href="/products/framed-poster" class="js-go-framed-posters product--action">View Sizes &amp; Pricing</a>
                </div>
                <div class="product--images">
                    <img src="/images/framed-poster.jpg" alt="Picture of a framed poster" class="product--image">
                </div>
            </div>
        </div>
    </section>
</div>