<div class="printify--small-hero">
    <h1 class="hero--heading">Shipping</h1>
</div>

<div class="wrapper">
    
    <div class="page--section">
        <h3 class="section--sub-heading">Shipping</h3>

        <p>Preparing of prints usually takes 2-5 business days. Shipping time should be added on top of that to get a general idea of when to expect your print to arrive. For example, placing an order with standard 3-5 day shipping on will have a 5-10 day turn around time from order being placed to arriving at your door.</p>

        <p>We currently only ship within the United States.</p>

        <p>If you're ordering multiple prints, they may be completed and shipped as different packages. When viewing your order status, you should see a tracking URL for each order item that has been shipping.</p>
    </div>

</div>