<form action="javascript:void(0)" class="promo-form--form js-promo-form">
    <div class="form--field">
        <input type="text" placeholder="Promo Code" class="field--input js-field" data-field="promoCode"> 
        <div class="field--message js-field-message" data-field="promoCode"></div>
    </div>
    <div class="form--message js-message"></div>
    <button class="js-apply promo-form--submit">Apply</button>
</form>