<footer data-component="footer" class="footer">
    <div class="footer--social--wrapper">
        <ul class="footer--social">
            <li>
                <a href="https://twitter.com/printifyio" 
                    class="social--link js-twitter" target="_blank"><i class="icon-twitter"></i></a>
            </li>
            <li>
                <a href="https://www.facebook.com/printify.io" 
                    class="social--link js-facebook" target="_blank"><i class="icon-facebook"></i></a>
            </li>
            <li>
                <a href="http://instagram.com/printify.io"
                    class="social--link js-instagram" target="_blank"><i class="icon-instagram"></i></a>
            </li>
            <li>
                <a href="http://www.pinterest.com/printifyio/"
                    class="social--link js-pinterest" target="_blank"><i class="icon-pinterest"></i></a>
            </li>
        </ul>
    </div>

    <div class="footer--row">
    </div>

    <div class="footer--row">
        <p class="footer--copyright">&#0169;2014 Printify.io, LLC. All Rights Reserved.</p>
        <ul class="footer--links">
            <li><a href="mailto:hello@printify.io" class="footer--link">hello@printify.io</a></li>
            <li><a href="mailto:support@printify.io" class="footer--link">support@printify.io</a></li>
        </ul>
        <ul class="footer--links">
            <li><a href="/terms-of-service" class="footer--link js-go-tos">Terms of Service</a></li>
            <li><a href="/privacy-policy" class="footer--link js-go-privacy">Privacy Policy</a></li>
            <li><a href="/returns" class="footer--link js-go-returns">Returns</a></li>
            <li><a href="/shipping" class="footer--link js-go-shipping">Shipping</a></li>
        </ul>
    </div>

    <div class="footer--partners">
        <a href="https://mixpanel.com/f/partner"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_blue.png" alt="Mobile Analytics" style="margin-right:20px;"></a>
        <a href="https://heapanalytics.com/?utm_source=badge"><img style="width:100px;height:37px" src="//heapanalytics.com/img/badge.png" alt="Heap - iOS and Web Analytics" /></a>
    </div>
</footer>