<p class="create--subheading printify--message message--info">
    All set! You can preview the cropping below then add the print to your cart.
</p>

<div class="create--crop">
    <img src={{ crop.fullThumbnailUrl }} class="crop--image is-loading js-thumb">
</div>

<p class="create--next"><a href="javascript:void(0)" class="create--action js-add-to-cart">Add To Cart</a></p>