<p class="create--subheading printify--message message--info">First, upload the picture you want to print!</p>

<div class="create--upload-perc"></div>

<label class="create--upload js-upload">
    <input type="file" class="js-upload-input upload--input">
    Select Your Picture
</label>