.cart--content {

  .cart--hero {
    @extend .printify--small-hero;
  }

    // .hero--heading {
    //   line-height: 1;
    //   margin: 0;
    // }

  .cart--overview {
    @extend .wrapper;
    padding: 40px 20px;
  }

    .overview--row {
      @extend .printify--row;
    }

    .overview--body {
      @extend .printify--column;
      @include span-columns(8 of 12);
    }

    .overview--aside {
      @extend .printify--column;
      @include span-columns(3 of 12);
      border: 1px solid $mediumLightGray;
      float: right;
      padding: 20px;
    }

  .cart--checkout {
    @extend .printify--btn;
    @extend .printify--btn.btn--medium;
    @extend .printify--btn.btn--primary;
    margin-top: 40px;
    width: 100%;
  }

  .cart--prints {
  }

    .cart--print {
      @include clearfix();
      border-bottom: 1px solid $mediumLightGray;
      padding-bottom: 20px;

      &:first-child {
        border-top: 1px solid $mediumLightGray;
        padding-top: 20px;
      }

      &:not(:first-child) {
        margin-top: 20px;
      }

      &:hover {
        .print--action {
          @include opacity(1);
          @include transition(all 0.2s linear);
        }
      }

    }

      .print--wrapper {
        float: left;
        height: 80px;
        position: relative;
      }

      .print--thumb {
        float: right;
        height: 80px;
      }

      .print--name {
        @extend .printify--body-heading;
        line-height: 1;
        margin: 0;
      }

      .print--price {
        margin: 10px 0 0 0;
      }

      .print--action {
        @include opacity(0);
        @include transition(all 0.2s linear);
        bottom: 0;
        font-size: $baseFontSize - 3px;
        font-style: italic;
        line-height: 1;
        margin: 0;
        position: absolute;
        text-transform: lowercase;
      }
}