<a href="/account/cart" class="js-go-cart session--cart">Cart <span class="cart--item-count">{{cartCount}}</span></a>
<div class="account--dropdown">
    <span>Account <i class="icon-triangle-down dropdown--icon"></i></span>
    <nav class="dropdown--menu">
        <a href="/account/orders" class="js-go-orders">Order History</a>
        <div class="dropdown--divider"></div>
        <a href="javascript:void(0)" class="js-logout">Log Out</a>
    </nav>
</div>