.printify--dropdown {
  position: relative;

  &:hover > .dropdown--menu,
  &.is-shown > .dropdown--menu {
    visibility: visible;
  }

  a {
    border-bottom: none;
    text-decoration: none;
  }

  .dropdown--menu {
    padding: 10px;
    position: absolute;
    visibility: hidden;

    a {
      display: block;
      padding: 2px 0;
    }
  }

  .dropdown--divider {
    display: block;
    padding: 4px 0;
    width: 100%;
  }
}

.printify--input {
  border: 1px solid $mediumLightGray;
  font-family: $headingFont;
  font-size: $baseFontSize - 2px;
  font-weight: $headingBook;
  padding: 10px;
  width: 100%;

  &:focus,
  &.is-active {
    border-color: $primaryColor;
    outline: none;
  }
}

.printify--select {
  background-color: $white;
  border: 1px solid $mediumLightGray;
  width: 100%;

  &:focus,
  &.is-active {
    border-color: $primaryColor;
    outline: none;
  }

  .select--select {
    background: transparent;
    border: 0;
    border-radius: 0;
    // color: #a9a9a9;
    font-family: $headingFont;
    font-size: $baseFontSize - 2px;
    font-weight: $headingBook;
    height: 35px;
    line-height: 1;
    width: 100%;

    &:focus {
      outline: none;
    }
  }
}

.printify--checkbox {
  font-family: $headingFont;
  font-size: $baseFontSize - 3px;
  font-weight: $headingBook;

  & + label {
    cursor: pointer;
  }
}

.printify--upload {
  @extend .printify--btn;
  @extend .printify--btn.btn--big;
  @extend .printify--btn.btn--primary--outline;
  
  .upload--input {
    position: fixed;
    top: -1000px;
  }
}

.printify--field {
  &:not(:last-child):not(:first-child) {
    margin-top: 15px;
  }
}

.printify--form {

  .form--field {
    @extend .printify--field;
    
    .field--message {
      font-family: $headingFont;
      font-size: $baseFontSize - 5px;
      font-style: italic;
      line-height: 1;

      &:not(:empty) {
        margin: 5px 0 0 10px;
      }

      &.message--error {
        color: $errorColor;
      }

      &.message--success {
        color: $successColor;
      }

      &.message--alert {
        color: $alertColor;
      }

      &.message--info {
        color: $infoColor;
      }
    }
  }

  .form--message {
    font-family: $headingFont;
    font-size: $baseFontSize - 4px;
    font-style: italic;
    line-height: 1.6;

    &:not(:empty) {
      margin: 20px 10px;
    }

    &.message--error {
      color: $errorColor;
    }

    &.message--success {
      color: $successColor;
    }

    &.message--alert {
      color: $alertColor;
    }

    &.message--info {
      color: $infoColor;
    }
  }

  .field--input {
    @extend .printify--input;
  }

  .field--select {
    @extend .printify--select;
  }

  .field--checkbox {
    @extend .printify--checkbox;
  }

  .field--label {
    display: inline-block;
    font-family: $headingFont;
    font-size: $baseFontSize - 3px;
    font-weight: $headingBold;
    margin: 0 0 5px 0;
    text-transform: uppercase;
    width: 100%;
  }

  .form--row {
    @extend .printify--row;

    &:not(:first-child) > .form--field {
      margin-top: 15px;
    }
  }

  .form--section {
    @extend .form--row;

    &:not(:first-child) {
      margin-top: 40px;
    }

    .form--field {
      margin-top: 15px;
    }
  }

  .form--column {
    @extend .printify--column;
  }

}

.floatlabel-wrapper {

  .label-floatlabel {
    color: $mediumLightGray;
    font-family: $headingFont;
    font-size: $baseFontSize - 4px;
    font-weight: $headingBook;
    text-transform: uppercase;

    &.is-active {
      color: $primaryColor;
    }
  }
}